body{

background:#020617;
color:white;
font-family:Arial;
text-align:center;

}

canvas{

background:black;
border:2px solid white;
margin-top:20px;

}

button{

padding:8px 14px;
margin:5px;
background:#2563eb;
color:white;
border:none;
border-radius:5px;

}

.controls{

margin-top:15px;

}

#caseText{

margin-top:10px;
font-size:18px;

}
